parameters:
    level: 7
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - /^Variable property access/
        - /^Unsafe usage of new static/

